@import '../utils/variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &a {
    color: $thirdColor;
  }

  .navLogo img {
    width: 200px;
    max-width: 100%;
  }

  .navLogo .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }

  .navSign {
    margin-right: 1rem;
    font-weight: bold;
    color: $thirdColor;

    &:hover {
      text-decoration: underline;
    }

    .faCircleUser {
      font-size: 20px;
      padding-right: 2px;
    }
  }
}
