@import '../utils/variables.scss';

.Form {
  background-color: $secondaryColor;
  width: 300px;
  margin: 260px auto;
  padding: 2rem;

  .faCircleUser {
    font-size: 1.2rem;
  }

  h1 {
    margin: 20px 0;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }

  .inputWrapper label {
    font-weight: bold;
  }

  .inputWrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }

  .inputRemember {
    display: flex;
  }

  .inputRemember input {
    margin-left: 0.5em;
  }

  .inputRemember label {
    margin-left: 0.5rem;
  }

  .submitButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $fourthColor;
    background-color: $fourthColor;
    color: $secondaryColor;
    text-decoration: underline;
  }

  p {
    color: $primaryColor;
    font-size: 1.3em;
    margin-top: 20px;
  }
}
