@import '../utils/variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  a {
    color: $thirdColor;
    text-decoration: none;

    &:visited,
    &:active,
    &:focus {
      color: $thirdColor; // Assurez-vous que cette couleur est celle souhaitée pour les états visités, actifs et focus
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .navLogo img {
    width: 200px;
    max-width: 100%;
  }

  .navLogo .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }

  .navSign {
    margin-right: 1rem;
    font-size: 1.1em;
    font-weight: bold;
    color: $thirdColor;
    display: flex;
    align-items: center;

    .faCircleUser {
      font-size: 1.5em;
      padding-right: 0.6rem;
    }

    .userName {
      padding-right: 1.5rem;
      font-size: 1.1em;

      &:hover {
        text-decoration: underline;
      }
    }

    .faSignOut {
      font-size: 1.1em;
      margin-right: 0.5rem;
    }

    .faSignOutIcon {
      color: $thirdColor;
      padding-right: 0.5rem;

      &:visited,
      &:active,
      &:focus {
        color: $thirdColor;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
