@import '../utils/variables.scss';

.userTitle {
  color: $secondaryColor;
  margin-bottom: 2rem;

  .editButton {
    border-color: $fourthColor;
    background-color: $fourthColor;
    color: $secondaryColor;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
  }

  .userForm {
    margin: 0 auto 20px auto;
    width: 80%;
    background: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .userFormWrapper {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }

    .userFormTitle {
      color: $primaryColor;
      padding: 20px 0;
    }

    .userFormLabel {
      color: $primaryColor;
      margin-right: 0.5em;
      font-size: 1.1em;
      margin-bottom: 0.5rem;
    }

    .userFormInput {
      width: 10em;
      padding: 8px 10px;
      margin-bottom: 15px;
      border: 1px solid $primaryColor;
      border-radius: 5px;
      outline: none;
      font-size: 1.1em;
    }

    .userFormButton {
      margin-bottom: 20px;

      .userFormSubmit,
      .userFormCancel {
        width: 8em;
        background: $fourthColor;
        padding: 8px 10px;
        margin-right: 20px;
        color: $secondaryColor;
        border: none;
        border-radius: 5px;
        font-size: 1.1em;
        cursor: pointer;
      }
    }

    .userFormCancel {
      @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
      }
    }
  }
}
