@import '../utils/variables.scss';

.userTitle {
  color: $secondaryColor;
  margin-bottom: 2rem;

  .editButton {
    border-color: $fourthColor;
    background-color: $fourthColor;
    color: $secondaryColor;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
  }

  .userForm {
    border: 2px dashed red;
  }
}
