// Reset
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

// Styles Généraux
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
